/*
@font-face {
    字体名称，名字可以随便起，但是注意要一致，建议英文
    font-family: 'SSZGSX130';
    font-display: swap;
    src: url('./SSZGSX130.ttf') format("truetype");
  }
*/
@font-face{
    font-family: 'SSZGSX130';
    /* src: url('./Yomogi-Regular-2.ttf') format("truetype");*/
    src: url('./SmileySans-Oblique-2.ttf') format("truetype");
}

body {
    font-family: 'SSZGSX130';
}

/* 头图黑色遮罩层透明*/
#page-header::before{
  background: transparent!important;
}
/*post页透明一图流*/
#page-header.post-bg:before {
  background-color: rgba(0,0,0,0.0);
}
